<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sy.product.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.sy.product.dto.UserInfo">
        <result column="USER_ID" property="userId" jdbcType="DECIMAL"/>
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR"/>
        <result column="USER_SEX" property="userSex" jdbcType="VARCHAR"/>
        <result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertUser" parameterType="com.sy.product.dto.UserInfo">
        INSERT INTO USER_INFO (USER_NAME, USER_SEX, PASSWORD) VALUES (#{userName}, #{userSex}, #{password});
    </insert>

    <delete id="deleteUserByName" parameterType="com.sy.product.dto.UserInfo">
        DELETE FROM USER_INFO WHERE USER_NAME = #{userName} ;
    </delete>

    <delete id="deleteUserById" parameterType="com.sy.product.dto.UserInfo">
        DELETE FROM USER_INFO WHERE USER_ID = #{userId} ;
    </delete>

    <select id="selectUserById" resultMap="BaseResultMap" parameterType="com.sy.product.dto.UserInfo">
        select * FROM USER_INFO WHERE USER_ID = #{userId} ;
    </select>

    <select id="selectUserByName" resultMap="BaseResultMap" parameterType="com.sy.product.dto.UserInfo">
        select * FROM USER_INFO WHERE USER_NAME = #{userName} ;
    </select>

    <select id="selectUserBySex" resultMap="BaseResultMap" parameterType="com.sy.product.dto.UserInfo">
        select * FROM USER_INFO WHERE USER_SEX = #{userSex} ;
    </select>

    <update id="updateUser" parameterType="com.sy.product.dto.UserInfo">
        UPDATE USER_INFO SET PASSWOED = #{password}, USER_NAME = #{userName}, USER_SEX  = #{userSex} WHERE USER_ID = #{userId} ;
    </update>

</mapper>
